/*
osu! signature
http://lemmmy.pw/osusig/sig.php?colour=hexed3434&uname=TheDawnbreaker&removeavmargin&darktriangles&onlineindicator=undefined&xpbar&xpbarhex
*/

html, body {
	margin: 0;
    background: #191a1f;
    color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	overflow-x: hidden;
}

body {
	position: relative;
}

:root {
	--primary-color: #ed3434;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.bg {
	z-index: 0;
	position: absolute;
}


.root {
	position: absolute;
	width: 100%;
	height: 100%;
}

.middle {
	position: absolute;
	width: 100%;
	height: 100%;
}

.middle .container {
	background: #121317;
	padding: 20px;
	border-radius: 30px;
	border-color: var(--primary-color);
	border-width: 4px;
	border-style: solid;
	transform: translate(-18vh, calc(50% - 20vh));
	z-index: 2;
	
	/*background: #12131700;
	backdrop-filter: blur(5px);*/
}

.character{
	position: absolute;
	top: 0;
	height: 100%;
	transform: translateX(10vh);
	z-index: 3;
	pointer-events: none;
	user-select: none;
}


.avatar-container {
	width: 100px;
	height: 100px;
	padding: 3px;
	border-radius: 50%;
	border-color: var(--primary-color);
	border-width: 4px;
	border-style: solid;
	margin: 8px 0px;
	display: none;
}

.avatar {
	border-radius: 50%;
	width: 100%;
	heigth: 100%;
}

.text-container {
	margin: 8px 0px;
}

.text-container * {
	text-align: center;
	padding: 0;
	margin: 0;
}


.links {
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 8px 0px;
	/*max-width: 200px;*/
}

.link-container {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 60px;
	height: 60px;
	transition: 0.2s;
	font-size: 2.5em;
}

.link-container a {
	color: inherit;
}

.link-container:hover {
	color: var(--primary-color);
}

.link-icon {
	/*filter: sepia(100%) hue-rotate(-70deg) saturate(15000%);*/
}

.invert {
	filter: invert();
}

.credit {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
	color: #999;
	font-size: 0.75em;
}

.credit a {
	color: #ff84bd;
}



@media only screen and (max-height: 650px){
	.character {
		transform: translateX(20vh);
	}
}

/* Mobile */
@media only screen and (max-width: 590px), screen and (max-height: 420px){
	.avatar-container {
		display: block;
	}
	
	.root .container {
		transform: none;
		
		/*transform: translate(0, calc(50% - 20vh));*/
	}

	.character {
		/*transform: translateX(28vh);*/
		display: none;
	}

	.credit {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		
		font-size: 0.9em;
	}
}